.socialmedia {
	text-align:right;
	@extend %list-in-disguise;
	li {
		display:inline-block;
		a:link, a:visited {
			background:$dark-grey;
			display:block;
			width:50px;
			height:50px;
			color:$white;
			text-align: center;
			.genericon {
				font-size:32px;
				width:50px;
				height:50px;				
				line-height:50px;
			}
		}
		a:hover {
			background:$orange;
		}
		a:hover, a:active {
			text-decoration:none;
		}
	}
}
.map {
	background-image:url("images/map.png");
	background-size:cover;
	.contact {
		background-color:$white;
		padding:1rem;
		margin-bottom:2rem;
	}
	.icon {
		background-color:$blue;
	}
}