body.home {
	#projects ul {
	    @extend %list-in-disguise;
	    li {
		    @extend %clearfix;
		    a:link, a:visited {
		    	display:block;
		    	background:$white;
		    }	    	
	    }
	}
	.entry-content p {
		line-height:1.8;
	}
	.mailinglist h2 {
		text-align: left;
	}
}