.projects-header {
	a:link, a:visited {color:$green;}
	text-transform:uppercase;
	font-weight:bold;
	@include font-size(16px);
}

.project {
	@extend .col-md-6;
	.thumbnail {
		min-height: 480px;
	}
}
