// Establishing the grid to be used throughout

$susy: (
//  flow: ltr,
//  math: fluid,
//  output: float,
  gutter-position: inside,
//  container: auto,
//  container-position: center,
  columns: 24,
  gutters: .23,
//  column-width: false,
//  global-box-sizing: content-box,
//  last-flow: to,
//  debug: (
//    image: hide,
//    color: rgba(#66f, .25),
//    output: background,
//    toggle: top right,
//  ),
//  use-custom: (
//    background-image: true,
//    background-options: false,
//    box-sizing: true,
//    clearfix: false,
//    rem: true,
//  )
);