
h1 {
    &.border {border-bottom: 0.875rem solid $white;}
}

body header#masthead {
  height: 12.5rem; // 800px
  background-image: url("images/short_header_bkgnd@2x.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;

  div.home-head-block { display: none; }
  h1 {
    @include font-size(90px);
    line-height:1;
  }
}

body.home header#masthead {
  min-height: 50rem; // 800px
  padding: 20rem 0 0 0;

  div.home-head-block {
    display: block;
  }
}

header {
  color: $dark-grey;
  margin: 0;
  padding: 0;
  position: relative;

  &#masthead {
    color: $white;
  } // &#masthead

  button.menu-toggle {
    display: none;
  } // button.menu-toggle

  .skip-link {
    display: none;
  } // .skip-link

  h2 {
    font-family: $main-font;
    @include font-size(24px);
  } // h2

  a {

    &:link,
    &:visited {
      color: $white;
    }

    &:hover,
    &:active {
      color: $white;
      text-decoration: none;
    }
  } // a


} // header

.home-link {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  padding:.75rem 15px;
}

#navbar {
  background-color: rgba(0,0,0,0.4);
  position: absolute;
    top: 0;
    left: 0;
  width: 100%;
  border: 0!important;
  text-align:center;
  @include breakpoint($screen-sm-min) {
    text-align:right;
  }
  ul {
    @extend %list-in-disguise;

    li {
      @extend %clearfix;
      display: inline-block;
      a {
        @include font-size(16px);
        display:block;
        text-align: center;
        text-transform: uppercase;
        border-bottom:1rem solid rgba(0,0,0,0);
        padding: 1.5rem 1rem .5rem 1rem;
        @include breakpoint($screen-md-min) {
          padding: 1.5rem 2rem .5rem 2rem;
        }
        &:hover {
          border-bottom:1rem solid $orange;
        }
      } // a
    } // li
    .menu-item-object-custom a {
      font-family:$fancy-font;
      text-transform: capitalize;
      letter-spacing:1px;
      font-style: italic;
      background:$blue;
      &:hover {
        background:$orange;
      }
    }
  } // ul
} // #navbar