
h1 {
    @include font-size(80px);
    &.border {border-bottom: 0.875rem solid $white;}
}

body header#masthead {
  height: 12.5rem; // 800px

  div.home-head-block { display: none; }
  h1 {
    @include font-size(96px);
  }
}

body.home header#masthead {
  min-height: 50rem; // 800px
  padding: 20rem 0 0 0;

  div.home-head-block {
    display: block;
  }
}

header {
  color: $dark-grey;
  margin: 0;
  padding: 0;
  position: relative;

  &#masthead {
    color: $white;
  } // &#masthead

  button.menu-toggle {
    display: none;
  } // button.menu-toggle

  .skip-link {
    visibility: hidden;
  } // .skip-link

  h2 {
    font-family: $main-font;
    @include font-size(22px);
  } // h2

  a {

    &:link,
    &:visited {
      color: $white;
    }

    &:hover,
    &:active {
      color: $white;
      text-decoration: none;
    }
  } // a


} // header

#navbar {
  background-color: rgba(0,0,0,0.4);
  position: absolute;
    top: 0;
    left: 0;
  width: 100%;
  @include breakpoint($screen-md-min) {
    text-align:right;
  }
  ul {
    @extend %list-in-disguise;

    li {
      @extend %clearfix;
      display: inline-block;
      padding: 1rem;
      text-align: center;
      text-transform: uppercase;

      a {
        @include font-size(18px);
      } // a
    } // li
  } // ul
} // #navbar